/*оформление диалогового модуля*/
.dialog {
    position: fixed;
    top: 70%;
    left: 100%;
    width: 400px;
    height: 400px;
    margin-left: -25px;
    margin-top: -215px;
    padding-left: 15px;
    background-color: #2a8ed1;
    color: #d9bde1;
    z-index: 1500;
    font-size: 14pt;
  
  }
  
  .dialog audio {
    width: 160px;
  }
  
  .dialog .label {
    position: absolute;
    transform: rotate(270deg);
    width: 420px;
    height: 35px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-left: -48%;
    margin-top: 45%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
  }
  
  .dialog .header {
    display: none;
    text-align: center;
    margin-top: -200px;
  
  }
  
  .dialog .history {
    height: 304px;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-y: scroll;
    background: rgb(73, 121, 140);
  }
  
  .dialog input,
  .dialog button,
  .dialog .history {
    margin: 2px 25px;
    width: 85%;
    border: 2px #0b84d5 solid;
    font-size: 16px;
    background: rgb(189, 233, 249);
  }
  
  .dialog button,
  .dialog .input {  
    height: 50px;
    width: 85%;
  }
  
  .dialog .history .question,
  .dialog .history .answer {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
  
  }
  
  
  .dialog .history .question {
    margin-left: 55px;
    background-color: #377cae;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  
  .dialog .history .answer {
    margin-right: 45px;
    background-color: #b57ac5;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  
  /*оформление картинок в диалоге*/
  .dialog .history .answer img,
  .dialog .history .answer embed {
    cursor: pointer;
    display: block;
    max-width: 180px;
  }
  
